@import "styles/_basics.scss";

.slider {
  .slider__content {
    li {
      img {
        max-height: 565px;
        object-position: center;
        object-fit: cover;
      }
    }
    .owl-dots {
      text-align: center;
      padding-bottom: 11px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid #FFFFFF;
      margin-right: 7.5px;
      transition: background $anim;
      border-radius: 50%;
      &:last-child {
        margin: 0;
      }
    }
    .owl-dots .owl-dot.active {
      background: white;
    }
  }
}