@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

header {
  background: url("../../images/header/main_bg.png") no-repeat;
  background-size: cover;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .header__content {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 750px) {
  header .header__content {
    width: 100%;
    padding: 0 20px;
  }
}
header .header__content .header__logo {
  display: block;
  margin-right: 13px;
}
header .header__content .header__right {
  width: 100%;
}
header .header__content .header__right .header__top {
  display: flex;
  justify-content: space-between;
}
header .header__content .header__right .header__top .header__first-btns {
  display: flex;
  gap: 10px;
}
header .header__content .header__right .header__top .header__first-btns li {
  border: 1.5px solid #ED0073;
  transition: all 0.3s ease;
}
header .header__content .header__right .header__top .header__first-btns li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: block;
}
header .header__content .header__right .header__top .header__first-btns li:hover {
  background: #ED0073;
}
header .header__content .header__right .header__top .header__first-btns li a {
  width: 131px;
}
header .header__content .header__right .header__top .header__tabs {
  display: flex;
  gap: 53px;
  align-items: center;
}
header .header__content .header__right .header__top .header__tabs li a {
  color: white;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 8px;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
header .header__content .header__right .header__top .header__tabs li a:hover {
  border-color: #ED0073;
}
header .header__content .header__right .header__top .header__balance {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .header__content .header__right .header__top .header__balance .header__balance-value {
  font-size: 25px;
  line-height: 29px;
  color: white;
}
header .header__content .header__right .header__top .header__last-btns {
  display: flex;
  gap: 10px;
}
header .header__content .header__right .header__top .header__last-btns li {
  border: 1.5px solid #005DDB;
  transition: all 0.3s ease;
}
header .header__content .header__right .header__top .header__last-btns li a {
  width: 131px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0;
  text-align: center;
  color: white;
}
header .header__content .header__right .header__top .header__last-btns li:hover {
  background: #005DDB;
}
header .header__content .header__right .header__bottom {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 18px;
}
header .header__content .header__right .header__bottom ul {
  display: flex;
  gap: 30px;
}
header .header__content .header__right .header__bottom ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
header .header__content .header__right .header__bottom ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__content .header__right .header__bottom ul li a span {
  font-size: 14px;
  line-height: 16px;
  color: white;
}
header .header__content .header__right .header__bottom ul li:hover {
  border-color: #005DDB;
}

footer {
  margin-top: 75px;
  background: url("../../images/header/main_bg.png") no-repeat;
  background-size: cover;
  padding: 39px 0 64px;
}
footer .footer__content {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  footer .footer__content {
    width: 100%;
    padding: 0 20px;
  }
}
footer .footer__content .footer__left .footer__text {
  padding-top: 15px;
  font-size: 16px;
  line-height: 140%;
  max-width: 272px;
}
footer .footer__content .footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
footer .footer__content .footer__right li a {
  text-align: right;
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 140%;
  color: white;
}

.chat-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.chat-form > div {
  background: #21063B;
  border: 1px solid #005DDB;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 573px;
  max-width: 970px;
}
.chat-form > div .cross {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50%;
  background: #ED0073;
  position: absolute;
  right: 20px;
  top: 20px;
}
.chat-form > div .cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chat-form.show {
  display: block;
}
.chat-form .chat-form__content {
  display: flex;
  gap: 31px;
}
.chat-form .chat-form__content .chat-form__left {
  width: 420px;
}
.chat-form .chat-form__content .chat-form__left .chat-form__title {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  color: #ED0073;
  text-transform: uppercase;
}
.chat-form .chat-form__content .chat-form__left .chat-form__text {
  font-weight: 600;
  font-size: 17px;
  line-height: 145%;
  padding-top: 5px;
}
.chat-form .chat-form__content .chat-form__left form {
  padding-top: 26px;
}
.chat-form .chat-form__content .chat-form__left form label {
  display: block;
  width: 100%;
}
.chat-form .chat-form__content .chat-form__left form label input {
  width: 100%;
  border: 1px solid #ED0073;
  background: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 145%;
  color: white;
  text-transform: uppercase;
  padding: 12px 22.7px 13px;
  display: block;
  margin-bottom: 20px;
  outline: none;
}
.chat-form .chat-form__content .chat-form__left form label input::placeholder {
  color: white;
}
.chat-form .chat-form__content .chat-form__left form label textarea {
  width: 100%;
  height: 124px;
  border: 1px solid #ED0073;
  background: none;
  padding: 12px 22.7px 13px;
  display: block;
  box-sizing: border-box;
  resize: none;
  outline: none;
}
.chat-form .chat-form__content .chat-form__left form label textarea::placeholder {
  color: white;
}
.chat-form .chat-form__content .chat-form__left form label button {
  font-weight: 700;
  font-size: 10px;
  line-height: 145%;
  padding: 10.5px 46px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  background: #ED0073;
  margin-top: 26px;
  cursor: pointer;
}
.chat-form .chat-form__content .chat-form__right {
  margin-top: 16px;
}

.start-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.start-popup > div {
  background: #21063B;
  border: 1px solid #005DDB;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 573px;
  max-width: 970px;
}
.start-popup > div .cross {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50%;
  background: #ED0073;
  position: absolute;
  right: 20px;
  top: 20px;
}
.start-popup > div .cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.start-popup.show {
  display: block;
}
.start-popup .start-popup__content .start-popup__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps .start-popup__title {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps .start-popup__subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-top: 6px;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps ul {
  padding-top: 40px;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps ul li {
  display: flex;
  gap: 18px;
  padding-bottom: 15px;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps ul li:last-child {
  padding-bottom: 0;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps ul li p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ED0073;
}
.start-popup .start-popup__content .start-popup__top .start-popup__steps ul li span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.start-popup .start-popup__content .start-popup__bottom {
  padding-right: 7px;
}
.start-popup .start-popup__content .start-popup__bottom .start-popup__important {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
}
.start-popup .start-popup__content .start-popup__bottom .start-popup__text {
  padding-top: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
}

.enter-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.enter-popup > div {
  background: #21063B;
  border: 1px solid #005DDB;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 573px;
  max-width: 970px;
}
.enter-popup > div .cross {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50%;
  background: #ED0073;
  position: absolute;
  right: 20px;
  top: 20px;
}
.enter-popup > div .cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.enter-popup.show {
  display: block;
}
.enter-popup .enter-popup__content {
  display: flex;
  justify-content: space-between;
}
.enter-popup .enter-popup__content .enter-popup__left {
  padding-top: 20px;
  max-width: 390px;
}
.enter-popup .enter-popup__content .enter-popup__left .enter-popup__title {
  font-family: "Oswald", serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  color: #ED0073;
}
.enter-popup .enter-popup__content .enter-popup__left .enter-popup__tabs {
  display: flex;
  gap: 11px;
  padding-top: 17px;
}
.enter-popup .enter-popup__content .enter-popup__left .enter-popup__tabs a {
  display: block;
  width: 100px;
  padding: 6.5px 0;
  font-weight: 700;
  font-size: 8px;
  line-height: 145%;
  border: 1px solid #ED0073;
  text-transform: uppercase;
}
.enter-popup .enter-popup__content .enter-popup__left .enter-popup__tabs a:first-child {
  background: #ED0073;
}
.enter-popup .enter-popup__content .enter-popup__left form {
  padding-top: 18px;
}
.enter-popup .enter-popup__content .enter-popup__right {
  padding-right: 20px;
}
body {
  color: white;
  background: #21063B;
  font-family: "Roboto", sans-serif;
}

main {
  margin-top: 121px;
}

.slider .slider__content li img {
  max-height: 565px;
  object-position: center;
  object-fit: cover;
}
.slider .slider__content .owl-dots {
  text-align: center;
  padding-bottom: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.slider .slider__content .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #FFFFFF;
  margin-right: 7.5px;
  transition: background 0.3s ease;
  border-radius: 50%;
}
.slider .slider__content .owl-dots .owl-dot:last-child {
  margin: 0;
}
.slider .slider__content .owl-dots .owl-dot.active {
  background: white;
}

.game-nav {
  padding-top: 35px;
}
.game-nav .game-nav__content {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
@media (max-width: 750px) {
  .game-nav .game-nav__content {
    width: 100%;
    padding: 0 20px;
  }
}
.game-nav .game-nav__content .game-nav__search {
  width: 270px;
  flex-shrink: 1;
}
.game-nav .game-nav__content .game-nav__search label {
  position: relative;
  padding: 9px 0;
  border: 1px solid #ED0073;
  display: block;
  width: 100%;
}
.game-nav .game-nav__content .game-nav__search label input {
  width: 100%;
  background: 0;
  padding: 0 18px 0 40px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  box-sizing: border-box;
  color: white;
}
.game-nav .game-nav__content .game-nav__search label:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: url("../images/main/search.png");
}
.game-nav .game-nav__content .game-nav__search label .game-nav__search-drop {
  position: absolute;
  top: 50px;
  left: -1px;
  border: 1px solid #ED0073;
  padding: 9px 18px;
  background: #ED0073;
  width: 101%;
  display: none;
  flex-direction: column;
  gap: 8px;
  max-height: 200px;
  overflow: auto;
}
.game-nav .game-nav__content .game-nav__search label .game-nav__search-drop a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: center;
}
.game-nav .game-nav__content .game-nav__search label .game-nav__search-drop.show {
  display: flex;
}
.game-nav .game-nav__content .game-nav__tabs {
  flex-shrink: 10;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.game-nav .game-nav__content .game-nav__tabs li {
  border: 1.5px solid #ED0073;
  transition: all 0.3s ease;
}
.game-nav .game-nav__content .game-nav__tabs li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: block;
}
.game-nav .game-nav__content .game-nav__tabs li:hover {
  background: #ED0073;
}
.game-nav .game-nav__content .game-nav__tabs li a {
  width: 200px;
}

.games {
  padding-top: 21px;
}
.games .games__content {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
@media (max-width: 750px) {
  .games .games__content {
    width: 100%;
    padding: 0 20px;
  }
}
.games .games__content .games__left {
  width: 270px;
}
.games .games__content .games__left .games__all-providers {
  font-size: 14px;
  line-height: 16px;
  color: white;
  display: block;
  background: #ED0073;
  border: 1px solid #ED0073;
  text-align: center;
  padding: 10px 0;
}
.games .games__content .games__left .games__ads {
  padding-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.games .games__content .games__left .games__ads li a img {
  max-height: 433px;
}
.games .games__content .games__left .games__ads li:first-child a img {
  max-height: 371px;
}
.games .games__content .games__right {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.games .games__content .games__right li {
  width: 270px;
  height: 203px;
}
.games .games__content .games__right li a {
  display: block;
  height: 100%;
}
.games .games__content .games__right li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=main.css.map */
