@import "styles/_basics.scss";

.slider {
  .slider__content {
    li {
      img {
        max-height: 565px;
        object-position: center;
        object-fit: cover;
      }
    }
    .owl-dots {
      text-align: center;
      padding-bottom: 11px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid #FFFFFF;
      margin-right: 7.5px;
      transition: background $anim;
      border-radius: 50%;
      &:last-child {
        margin: 0;
      }
    }
    .owl-dots .owl-dot.active {
      background: white;
    }
  }
}

.game-nav {
  padding-top: 35px;
  .game-nav__content {
    @include default-width;
    display: flex;
    gap: 30px;
    .game-nav__search {
      width: 270px;
      flex-shrink: 1;
      label {
        position: relative;
        padding: 9px 0;
        border: 1px solid #ED0073;
        display: block;
        width: 100%;
        input {
          width: 100%;
          background: 0;
          padding: 0 18px 0 40px;
          border: none;
          font-size: 14px;
          line-height: 16px;
          outline: none;
          box-sizing: border-box;
          color: white;
          transition: all $anim;
        }
        &:focus {
          border: 1px solid #FF27A2;
        }
        &:disabled {
          border: 1px solid #969696;
        }
        &:before {
          content: "";
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translate(0, -50%);
          width: 20px;
          height: 20px;
          background: url("../images/main/search.png");
        }
        .game-nav__search-drop {
          position: absolute;
          top: 50px;
          left: -1px;
          border: 1px solid #ED0073;
          background: #21063B;
          width: 101%;
          display: none;
          flex-direction: column;
          max-height: 200px;
          overflow: auto;
          a {
            display: block;
            font-size: 14px;
            line-height: 16px;
            color: white;
            padding: 12px 20px 13px;
            border-bottom: 1px solid #ED0073;
            &:last-child {
              border-bottom: none;
            }
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                background: #FF27A2;
              }
            }
            &:active {
              background: #ED0073!important;
            }
          }
          &.show {
            display: flex;
          }
        }
      }
    }
    .game-nav__tabs {
      flex-shrink: 10;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      li {
        @include default-btn;
        a {
          width: 200px;
        }
      }
    }
  }
}

.games {
  padding-top: 21px;
  .games__content {
    @include default-width;
    display: flex;
    gap: 30px;
    .games__left {
      width: 270px;
      .games__all-providers {
        font-size: 14px;
        line-height: 16px;
        color: white;
        display: block;
        background: #ED0073;
        border: 1px solid #ED0073;
        text-align: center;
        padding: 10px 0;
      }
      .games__ads {
        padding-top: 29px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          a {
            img {
              max-height: 433px;
            }
          }
          &:first-child {
            a {
              img {
                max-height: 371px;
              }
            }
          }
        }
      }
    }
    .games__right {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      li {
        width: calc(33.3% - 20px);
        height: 203px;
        a {
          display: block;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .games__right__ad {
        display: none;
      }
    }
    .games__pagination {
      display: none;
    }
  }
}


@media (max-width: 1400px) {
  .game-nav {
    padding-top: 33px;
    .game-nav__content {
      gap: 27px;
      .game-nav__search {
        width: 166px;
        flex-shrink: 0;
        label {
          input {
          }
          &:before {
            left: 12px;
          }
          .game-nav__search-drop {
            a {
              &:last-child {
              }
            }
            &.show {
            }
          }
        }
      }
      .game-nav__tabs {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        flex: 1 1 auto;
        li {
          width: 100%;
          a {
            width: 100%;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .games {
    .games__content {
      gap: 30px;
      .games__left {
        width: 166px;
        flex-shrink: 0;
        .games__all-providers {
        }
        .games__ads {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          li {
            a {
              img {
                height: 314px;
                width: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            &:first-child {
              a {
                img {
                  height: 268px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .games__right {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        li {
          width: calc(33.3% - 20px);
          height: auto;
          a {
            display: block;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  .game-nav {
    padding-top: 24px;
    .game-nav__content {
      gap: 0;
      flex-wrap: wrap;
      .game-nav__search {
        width: 100%;
        flex-shrink: 0;
        label {
          input {
          }
          &:before {
            left: 12px;
          }
          .game-nav__search-drop {

            a {
              &:last-child {
              }
            }
            &.show {
            }
          }
        }
      }
      .game-nav__tabs {
        flex-wrap: wrap;
        gap: 12px;
        padding-top: 30px;
        li {
          width: 100%;
          a {
            width: 100%;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .games {
    padding-top: 30px;
    .games__content {
      gap: 30px;
      flex-wrap: wrap;
      .games__left {
        width: 100%;
        flex-shrink: 0;
        .games__all-providers {
        }
        .games__ads {
          display: none;
        }
      }
      .games__right {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        li {
          width: 100%;
          height: auto;
          a {
            display: block;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
        .games__right__ad {
          display: block;
          width: 100%;
          max-height: 460px;
          a {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
      .games__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 36px;
        width: 100%;
        a {
          display: block;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.5);
          transition: all $anim;
          &.active {
            color: white;
          }
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: white;
            }
          }
        }
        .games__pagination-back {
          border: 1px solid #ED0073;
          line-height: normal;
          width: 44px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .games__pagination-forward {
          background: #ED0073;
          border: 1px solid #ED0073;
          line-height: normal;
          width: 59px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            transform: rotate(180deg);
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .slider {
    .slider__content {
      li {
        img {
          height: 232px;
        }
      }
    }
  }
}