* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$anim: 0.3s ease;


@import "mixins";
@import "fonts";
@import "reset";
@import "header";
@import "footer";
@import "popups";

body {
  color: white;
  background: #21063B;
  font-family: 'Roboto', sans-serif;
}

main {
  margin-top: 121px;
  @media (max-width: 1000px) {
    margin-top: 78px;
  }
}