* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$anim: 0.3s ease;


@mixin default-width {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: 750px) {
    width: 100%;
    padding: 0 20px;
  }
}

@mixin default-btn {
  border: 1.5px solid #ED0073;
  transition: all $anim;
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: block;
  }
  &:hover {
    background: #ED0073;
  }
}



@import "fonts";
@import "reset";
@import "header";
@import "footer";

body {
  color: white;
  background: #21063B;
  font-family: 'Roboto', sans-serif;
}