header {
  background: url("../images/header/main_bg.png") no-repeat;
  background-size: cover;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .header__content {
    @include default-width;
    display: flex;
    .header__logo {
      display: block;
      margin-right: 13px;
      img {

      }
    }
    .header__balance-mob {
      display: none;
    }
    .header__burger-btn {
      display: none;
    }
    .header__right {
      width: 100%;
      .header__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .header__first-btns {
          display: flex;
          gap: 10px;
          li {
            @include default-btn;
            a {
              width: 131px;
            }
          }
        }
        .header__tabs {
          display: flex;
          gap: 53px;
          align-items: center;
          li {
            a {
              color: white;
              font-size: 15px;
              line-height: 18px;
              padding-bottom: 8px;
              transition: all $anim;
              border-bottom: 1px solid transparent;
              @media (hover: hover) and (pointer: fine) {
                &:hover {
                  border-color: #ED0073;
                }
              }
              &.active {
                border-color: #ED0073;
              }
            }
          }
        }
        .header__balance {
          display: flex;
          align-items: center;
          gap: 15px;
          .header__balance-value {
            font-size: 25px;
            line-height: 29px;
            color: white;
          }
        }
        .header__last-btns {
          display: flex;
          gap: 10px;
          li {
            border: 1.5px solid #005DDB;
            transition: all $anim;
              a {
              width: 131px;
              display: block;
              font-size: 14px;
              line-height: 16px;
              padding: 10px 0;
              text-align: center;
              color: white;
            }
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                background: #005DDB;
              }
            }
          }
        }
      }
      .header__bottom {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-top: 18px;
        ul {
          display: flex;
          gap: 30px;
          li {
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            transition: all $anim;
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              img {

              }
              span {
                font-size: 14px;
                line-height: 16px;
                color: white;
              }
            }
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                border-color: #005DDB;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1400px) {
  header {
    .header__content {
      .header__logo {
        display: block;
        margin-right: 13px;
        img {

        }
      }
      .header__right {
        .header__top {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          .header__first-btns {
            width: 50%;
            li {
              a {
                width: 108px;
                font-size: 12px;
                line-height: 14px;
              }
            }
          }
          .header__tabs {
            display: flex;
            gap: 20px;
            align-items: center;
            order: 3;
            width: 50%;
            padding-top: 8px;
            li {
              a {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
              }
            }
          }
          .header__balance {
            display: none;
            align-items: center;
            gap: 15px;
            .header__balance-value {
              font-size: 25px;
              line-height: 29px;
              color: white;
            }
          }
          .header__last-btns {
            order: 2;
            li {
              a {
                font-size: 12px;
                line-height: 14px;
              }
            }
          }
        }
        .header__bottom {
          width: 50%;
          display: flex;
          flex-direction: row-reverse;
          padding-top: 18px;
          order: 4;
          ul {
            li {
              a {
                span {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__logo {
        display: block;
        margin-right: 13px;
        width: 48px;
        height: 48px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .header__mob-left {
        display: flex;
        align-items: center;
        gap: 50px;
        .header__balance-mob {
          display: flex;
          align-items: center;
          gap: 8px;
          img {
            width: 26px;
            height: 26px;
          }
          .header__balance-value {
            font-size: 20px;
            line-height: 23px;
            color: white;
          }
        }
        .header__burger-btn {
          display: block;
          cursor: pointer;
          position: relative;
          height: 14px;
          width: 20px;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: white;
            transition: all $anim;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: white;
            transition: all $anim;
          }
          .header__burger-stripe {
            position: absolute;
            top: 6px;
            left: 0;
            height: 2px;
            width: 100%;
            background: white;
            transition: all $anim;
            opacity: 1;
          }
          &.cross {
            .header__burger-stripe {
              opacity: 0;
            }

            &:before {
              transform: rotate(45deg);
              top: 6px;
            }
            &:after {
              transform: rotate(-45deg);
              bottom: 6px;
            }
          }
        }
      }
      .header__right {
        position: absolute;
        top: 100%;
        right: -1000px;
        background: #21063B;
        padding: 24px 20px 0 20px;
        transition: all $anim;
        height: 100vh;
        &.show {
          right: 0;
        }
        .header__top {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          .header__first-btns {
            width: 100%;
            justify-content: center;
            gap: 20px;
            li {
              a {
                width: 157px;
                font-size: 14px;
                line-height: 16px;
              }
            }
            @media (max-width: 350px) {
              flex-wrap: wrap;
              justify-content: unset;
              li {
                display: block;
                width: 100%;
                a {
                  width: 100%;
                }
              }
            }
          }
          .header__tabs {
            display: flex;
            gap: 32px;
            align-items: center;
            order: 2;
            width: 100%;
            padding-top: 40px;
            justify-content: center;
            flex-direction: column;
            @media (max-width: 350px) {
              padding-top: 20px;
              gap: 20px;
            }
            li {
              display: block;
              a {
                font-size: 18px;
                line-height: 21px;
                padding-bottom: 5px;
              }
            }
          }
          .header__balance {
            display: none;
          }
          .header__last-btns {
            order: 4;
            width: 100%;
            justify-content: center;
            gap: 20px;
            padding-top: 40px;
            li {
              a {
                width: 157px;
                font-size: 14px;
                line-height: 16px;
              }
            }
            @media (max-width: 350px) {
              flex-wrap: wrap;
              justify-content: unset;
              li {
                display: block;
                width: 100%;
                a {
                  width: 100%;
                }
              }
            }
          }
        }
        .header__bottom {
          width: 100%;
          display: flex;
          justify-content: center;
          padding-top: 32px;
          order: 3;
          @media (max-width: 350px) {
            padding-top: 20px;
          }
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            @media (max-width: 350px) {
              gap: 20px;
            }
            li {
              border-bottom: none;
              a {
                img {
                  width: 20px;
                  height: 20px;
                }
                span {
                  font-size: 18px;
                  line-height: 21px;
                }

              }
            }

          }
        }
      }
    }
  }
}