@mixin default-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  >div {
    background: #21063B;
    border: 1px solid #005DDB;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-height: 573px;
    max-width: 970px;
    .cross {
      width: 28px;
      height: 28px;
      cursor: pointer;
      border-radius: 50%;
      background: #ED0073;
      position: absolute;
      right: 20px;
      top: 20px;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

      }
    }
    @media (max-width: 1100px) {
      width: calc(100% - 80px);
    }
    @media (max-width: 750px) {
      width: calc(100% - 40px);
      padding: 64px 16px 40px;
      max-height: none;
      height: auto;
    }
  }
  display: none;
  &.show {
    display: block;
  }
}


.chat-form {
  @include default-popup;
  .chat-form__content {
    display: flex;
    gap: 31px;
    .chat-form__left {
      width: 420px;
      .chat-form__title {
        font-family: 'Oswald', serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 145%;
        color: #ED0073;
        text-transform: uppercase;
      }
      .chat-form__text {
        font-weight: 600;
        font-size: 17px;
        line-height: 145%;
        padding-top: 5px;
      }
      form {
        padding-top: 26px;
        label {
          display: block;
          width: 100%;
          input {
            width: 100%;
            border: 1px solid #ED0073;
            background: none;
            font-weight: 600;
            font-size: 10px;
            line-height: 145%;
            color: white;
            text-transform: uppercase;
            padding: 12px 22.7px 13px;
            display: block;
            margin-bottom: 20px;
            outline: none;
            &::placeholder {
              color: white;
            }
          }
          textarea {
            width: 100%;
            height: 124px;
            border: 1px solid #ED0073;
            background: none;
            padding: 12px 22.7px 13px;
            display: block;
            box-sizing: border-box;
            resize: none;
            outline: none;
            &::placeholder {
              color: white;
            }
          }
          button {
            font-weight: 700;
            font-size: 10px;
            line-height: 145%;
            padding: 10.5px 46px;
            color: white;
            text-transform: uppercase;
            outline: none;
            border: none;
            background: #ED0073;
            margin-top: 26px;
            cursor: pointer;
          }
        }
      }
    }
    .chat-form__right {
      margin-top: 16px;
    }
  }
}


.start-popup {
  @include default-popup;
  .start-popup__content {
    .start-popup__top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 20px;
      .start-popup__steps {
        .start-popup__title {
          font-family: 'Oswald', serif;
          font-weight: 600;
          font-size: 35px;
          line-height: 145%;
        }
        .start-popup__subtitle {
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          padding-top: 6px;
        }
        ul {
          padding-top: 40px;
          li {
            display: flex;
            gap: 18px;
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
            p {
              font-weight: 600;
              font-size: 20px;
              line-height: 23px;
              text-transform: uppercase;
              color: #ED0073;
            }
            span {
              display: block;
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
      }
      .start-popup__image {
        img {

        }
      }
    }
    .start-popup__bottom {
      padding-right: 7px;
      .start-popup__important {
        font-family: 'Oswald', serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 145%;
      }
      .start-popup__text {
        padding-top: 10px;
        font-weight: 300;
        font-size: 15px;
        line-height: 160%;
      }
    }
  }
}


.enter-popup {
  @include default-popup;
  .enter-popup__content {
    display: flex;
    justify-content: space-between;
    .enter-popup__left {
      padding-top: 20px;
      max-width: 390px;
      flex-shrink: 0;
      margin-right: 23px;
      @media (max-width: 1100px) {
        max-width: 332px;
      }
      .enter-popup__title {
        font-family: 'Oswald', serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 145%;
        color: #ED0073;
      }
      .enter-popup__tabs {
        display: flex;
        gap: 11px;
        padding-top: 17px;
        a {
          display: block;
          width: 100px;
          padding: 6.5px 0;
          font-weight: 700;
          font-size: 8px;
          line-height: 145%;
          border: 1px solid #ED0073;
          text-transform: uppercase;
          color: white;
          text-align: center;
          transition: all $anim;
          &.active {
            background: #ED0073;
          }
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background: rgba(237, 0, 115, .7);
            }
          }
        }
      }
      .enter-popup__forms {
        .enter-popup__mail-form {
          form {
            padding-top: 18px;
            display: none;
            &.active {
              display: block;
            }
            label {
              margin-top: 20px;
              display: block;
              &:first-child {
                margin-top: 0;
              }
              input {
                font-weight: 600;
                font-size: 10px;
                line-height: 145%;
                padding: 12px 21px 13px;
                text-transform: uppercase;
                color: white;
                background: none;
                border: 1px solid #ED0073;
                outline: none;
                display: block;
                width: 100%;
                &::placeholder {
                  color: white;
                }
              }
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                font-weight: 700;
                font-size: 10px;
                line-height: 145%;
                color: white;
                background: #ED0073;
                border: none;
                outline: none;
                padding: 10.5px 0;
                width: 100%;
              }
            }
          }
          .enter-popup__bottom {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            .enter-popup__forget {
              width: 185px;
              text-align: center;
              @media (max-width: 1100px) {
                width: 156px;
              }
              .enter-popup__forget-text {
                font-size: 15px;
                line-height: 18px;
              }
              .enter-popup__forget-btn {
                display: block;
                margin-top: 15px;
                font-weight: 700;
                font-size: 10px;
                line-height: 145%;
                color: white;
                width: 100%;
                text-align: center;
                padding: 10.5px 0;
                border: 1px solid #ED0073;
              }
            }
            .enter-popup__registration {
              width: 185px;
              text-align: center;
              @media (max-width: 1100px) {
                width: 156px;
              }
              .enter-popup__registration-text {
                font-size: 15px;
                line-height: 18px;
                a {
                  text-transform: uppercase;
                  color: #ED0073;
                }
              }
              .enter-popup__registration-btn {
                display: block;
                margin-top: 15px;
                font-weight: 700;
                font-size: 10px;
                line-height: 145%;
                color: white;
                width: 100%;
                text-align: center;
                padding: 10.5px 0;
                border: 1px solid #ED0073;
                background: #ED0073;
              }
            }
          }
        }
      }
    }
    .enter-popup__right {
      padding-right: 20px;
      padding-top: 11px;
      @media (max-width: 1100px) {
        flex-shrink: 10;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.registration-popup {
  @include default-popup;
  .registration-popup__content {
    display: flex;
    justify-content: space-between;
   .registration-popup__left {
     width: 390px;
     margin-top: 15px;
     .registration-popup__title {
       font-family: 'Oswald', serif;
       font-weight: 600;
       font-size: 35px;
       line-height: 145%;
       color: #ED0073;
     }
     .registration-popup__tabs {
       display: flex;
       gap: 11px;
       padding-top: 29px;
       a {
         display: block;
         width: 100px;
         padding: 6.5px 0;
         font-weight: 700;
         font-size: 8px;
         line-height: 145%;
         border: 1px solid #ED0073;
         text-transform: uppercase;
         color: white;
         text-align: center;
         transition: all $anim;
         &.active {
           background: #ED0073;
         }
         @media (hover: hover) and (pointer: fine) {
           &:hover {
             background: rgba(237, 0, 115, .7);
           }
         }
       }
     }
     .registration-popup__forms {
       padding-top: 16px;
       .registration-popup__mail-form {
         form {
           display: none;
           &.active {
             display: block;
           }
           >label {
             display: block;
             &:first-child {
               margin-bottom: 20px;
             }
             input[type=email], input[type=password], input[type=tel] {
               font-weight: 600;
               font-size: 10px;
               line-height: 145%;
               padding: 12px 21px 13px;
               text-transform: uppercase;
               color: white;
               background: none;
               border: 1px solid #ED0073;
               outline: none;
               display: block;
               width: 100%;
               &::placeholder {
                 color: white;
               }
             }
             button {
              display: block;
               border: none;
               text-align: center;
               width: 220px;
               padding: 10.5px 0;
               background: #ed0073;
               margin-top: 28px;
               color: white;
               cursor: pointer;
             }
           }
           .registration-popup__choose-currency {
             display: flex;
             padding-top: 27px;
             align-items: center;
             width: 100%;
             .registration-popup__choose-currency__text {
               font-size: 15px;
               line-height: 18px;
               padding-right: 12px;
               flex-shrink: 0;
             }
             .registration-popup__choose-currency__tabs {
               display: flex;
               justify-content: space-between;
               width: 100%;
               label {
                 display: block;
                 input {
                   display: none;
                 }
                 span {
                   font-weight: 700;
                   font-size: 10px;
                   line-height: 145%;
                   display: block;
                   text-align: center;
                   width: 56px;
                   padding: 7.5px 0;
                   border: 1px solid #ED0073;
                   cursor: pointer;
                 }
                 & > input[type=radio]:checked + span {
                   background: #ED0073;
                 }
               }
             }
           }
           .registration-popup__extra {
             font-size: 15px;
             line-height: 18px;
             color: #ED0073;
             padding: 20px 0;
           }
           .registration-popup__checkbox-label {
              @include default-checkbox;
           }
         }
       }
     }
   }
   .registration-popup__right {
     padding-right: 20px;
     padding-top: 11px;
     img {

     }
   }
  }
}

@media (max-width: 1100px) {
  .registration-popup {
    .registration-popup__content {
      display: flex;
      justify-content: space-between;
      .registration-popup__left {
        width: 100%;
        margin-top: 15px;
        .registration-popup__title {
          font-family: 'Oswald', serif;
          font-weight: 600;
          font-size: 35px;
          line-height: 145%;
          color: #ED0073;
        }
        .registration-popup__tabs {
          display: flex;
          gap: 11px;
          padding-top: 29px;
          a {
            display: block;
            width: 100px;
            padding: 6.5px 0;
            font-weight: 700;
            font-size: 8px;
            line-height: 145%;
            border: 1px solid #ED0073;
            text-transform: uppercase;
            color: white;
            text-align: center;
            transition: all $anim;
            &.active {
              background: #ED0073;
            }
            @media (hover: hover) and (pointer: fine) {
              &:hover {
                background: rgba(237, 0, 115, .7);
              }
            }
          }
        }
        .registration-popup__forms {
          padding-top: 16px;
          .registration-popup__mail-form {
            form {
              display: none;
              &.active {
                display: block;
              }
              >label {
                display: block;
                &:first-child {
                  margin-bottom: 20px;
                }
                input[type=email], input[type=password], input[type=tel] {
                  font-weight: 600;
                  font-size: 10px;
                  line-height: 145%;
                  padding: 12px 21px 13px;
                  text-transform: uppercase;
                  color: white;
                  background: none;
                  border: 1px solid #ED0073;
                  outline: none;
                  display: block;
                  width: 100%;
                  &::placeholder {
                    color: white;
                  }
                }
                button {
                  display: block;
                  border: none;
                  text-align: center;
                  width: 220px;
                  padding: 10.5px 0;
                  background: #ed0073;
                  margin-top: 28px;
                  color: white;
                  cursor: pointer;
                }
              }
              .registration-popup__choose-currency {
                display: flex;
                padding-top: 27px;
                align-items: center;
                width: 100%;
                .registration-popup__choose-currency__text {
                  font-size: 15px;
                  line-height: 18px;
                  padding-right: 12px;
                  flex-shrink: 0;
                }
                .registration-popup__choose-currency__tabs {
                  display: flex;
                  justify-content: normal;
                  gap: 11px;
                  width: 100%;
                  label {
                    display: block;
                    input {
                      display: none;
                    }
                    span {
                      font-weight: 700;
                      font-size: 10px;
                      line-height: 145%;
                      display: block;
                      text-align: center;
                      width: 56px;
                      padding: 7.5px 0;
                      border: 1px solid #ED0073;
                      cursor: pointer;
                    }
                    & > input[type=radio]:checked + span {
                      background: #ED0073;
                    }
                  }
                }
              }
              .registration-popup__extra {
                font-size: 15px;
                line-height: 18px;
                color: #ED0073;
                padding: 20px 0;
              }
            }
          }
        }
      }
      .registration-popup__right {
        display: none;
      }
    }
  }
}


@media (max-width: 1000px) {
  .chat-form {
    .chat-form__content {
      display: block;
      .chat-form__left {
        width: 100%;
      }
      .chat-form__right {
        display: none;
      }
    }
  }

  .start-popup {
    .start-popup__content {
      .start-popup__top {
        .start-popup__steps {
          flex-shrink: 0;
          padding-right: 34px;
        }
        .start-popup__image {
          flex-shrink: 10;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}


@media (max-width: 750px) {
  .chat-form {
    .chat-form__content {
      .chat-form__left {
        .chat-form__title {
          font-size: 26px;
          line-height: 145%;
        }
        .chat-form__text {
          font-size: 14px;
          line-height: 145%;
          padding-top: 4px;
        }
        form {
          padding-top: 24px;
          label {
            display: block;
            width: 100%;
            input {
              font-size: 10px;
              line-height: 145%;
              padding: 12px;
            }
            textarea {
              font-size: 10px;
              line-height: 145%;
              padding: 12px;
            }
            button {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .start-popup {
    .start-popup__content {
      .start-popup__top {
        padding-right: 0;
        .start-popup__steps {
          padding-right: 0;
          .start-popup__title {
            font-size: 26px;
            line-height: 145%;
          }
          .start-popup__subtitle {
            font-size: 14px;
            line-height: 16px;
            padding-top: 4px;
          }
          ul {
            padding-top: 24px;
          }
        }
        .start-popup__image {
          display: none;
        }
      }
      .start-popup__bottom {
        padding-right: 0;
        padding-top: 32px;
      }
    }
  }

  .enter-popup {
    .enter-popup__content {
      .enter-popup__left {
        padding-top: 0;
        max-width: none;
        width: 100%;
        flex-shrink: 0;
        margin-right: 0;
        .enter-popup__title {
          font-size: 26px;
          line-height: 145%;
          max-width: 279px;
        }
        .enter-popup__tabs {
          display: flex;
          gap: 15px;
          padding-top: 16px;
          a {
            width: calc(50% - 7.5px);
          }
        }
        .enter-popup__forms {
          .enter-popup__mail-form {
            .enter-popup__bottom {
              display: block;
              padding-top: 32px;
              .enter-popup__forget {
                width: 100%;
              }
              .enter-popup__registration {
                width: 100%;
                padding-top: 32px;
              }
            }
          }
        }
      }
      .enter-popup__right {
        display: none;
      }
    }
  }

  .registration-popup {
    .registration-popup__content {
      .registration-popup__left {
        width: 100%;
        margin-top: 0;
        .registration-popup__title {
          font-size: 26px;
          line-height: 145%;
        }
        .registration-popup__tabs {
          gap: 15px;
          padding-top: 16px;
          a {
            width: calc(50% - 7.5px);
          }
        }
        .registration-popup__forms {
          padding-top: 16px;
          .registration-popup__mail-form {
            form {
              >label {

                button {
                  width: 100%;
                  font-size: 10px;
                  line-height: 145%;
                }
              }
              .registration-popup__choose-currency {
                display: block;
                padding-top: 24px;
                .registration-popup__choose-currency__tabs {
                  display: flex;
                  padding-top: 16px;
                  label {
                    display: block;
                    flex-basis: 0;
                    flex-grow: 1;
                    input {
                      display: none;
                    }
                    span {
                      width: auto;
                    }
                  }
                }
              }
              .registration-popup__extra {
                padding: 24px 0 18px;
              }
            }
          }
        }
      }
    }
  }
}